version: "3.9"

services:

  evdealer-mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: "evdealer-mssql"
    ports:
      - "14335:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
    volumes:
      - ./sql:/var/opt/sql
    healthcheck:
      test: [ "CMD-SHELL", "bash -c '</dev/tcp/localhost/1433'" ]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 20s
    networks:
      - evdealer-network

  mssql-tool:
    image: mcr.microsoft.com/mssql-tools:latest
    container_name: "mssql-tool"
    depends_on:
      - evdealer-mssql
    command: /opt/sql/wait-for-mssql.sh
    volumes:
      - ./sql:/opt/sql
    networks:
      - evdealer-network

  evd-app:
    build: .
    container_name: "evd-app"
    ports:
      - "8000:8000"
    volumes:
      - ./storage/uploads:/app/uploads
    depends_on:
      evdealer-mssql:
        condition: service_healthy
    environment:
      - MSSQL_URI=${MSSQL_URI}
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
    networks:
      - evdealer-network

networks:
  evdealer-network:
    driver: bridge
    name: evdealer-network