server:
  port: ${SERVER_PORT:8000}
  servlet:
    context-path: /evdealer

spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
        debug: false
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  application:
    name: ev-dealer-management
  main:
    allow-bean-definition-overriding: true
  datasource:
    driverClassName: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: jdbc:sqlserver://${MSSQL_ADDRESS:localhost:14335};databaseName=${MSSQL_DB:evdealer_db};encrypt=true;trustServerCertificate=true
    username: ${MSSQL_SA_USERNAME:sa}
    password: ${MSSQL_SA_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION:86400000} # 1 ngày
  refresh-expiration: ${JWT_REFRESH_EXPIRATION:604800000} # 7 ngày

file:
  directory: ${FILE_UPLOAD_DIR:./uploads/thumbnail/image/}
  contract: ${FILE_CONTRACT_DIR:./uploads/thumbnail/contract_and_quotation/}
